  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


  :root {

      --bodycolor: #F2EEE9;
      --gray: #6C6C6C;
      --yellow: #F29F05;
      --green: #18401B;
      --purple: #261F40;
      --border-color: #53A677;

  }

  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      /* outline: 3px solid lawngreen; */
  }

  body {
      font-family: 'Inter', sans-serif;
      background-color: #F0EAE2;
  }

  #home {
      height: 100vh;
  }

  .container {
      max-width: 95em;
      margin: auto;
      padding: 15px;
  }


  /* styling of header section */
  header {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
  }

  header .header__navigation__second {
      display: none;


  }

  .header__logo {
      align-items: center;
      display: flex;



  }

  .header__logo img {
      width: 150px;
  }

  .header__navigation {
      display: flex;
      list-style: none;
      align-items: center;
      color: var(--gray);


  }

  .header__navigation li {

      font-size: 1.3em;
  }

  .header__navigation .li__dropdown {
      display: block;

  }

  .header__button {
      align-items: center;

  }

  .header__button a {
      text-decoration: none;
      border-radius: 5px;
      font-size: 1.3em;

  }

  .header__button .signin {
      color: var(--gray);
  }

  .header__button .try {
      background-color: var(--green);
      color: #FFFF;
      padding: 20px 35px;
  }

  .header__show_hide-button {
      display: none;

  }


  .card {


      background-color: #FFFF;
      display: flex;
      flex-direction: column;
      padding: 15px 10px;
      padding: 20px;
      border-radius: 10px;
      position: absolute;
      top: 40px;
      left: 10px;
      right: 10px;
      z-index: 2;
  }



  .card__close {
      display: flex;
      justify-content: space-between;

  }
  

  /* styling of hero  */
  .hero {
      display: flex;
      justify-content: space-between;
      margin: 5em 0em;

      gap: 5em;
  }




  /* typography of hero */
  .hero__text {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }

  .hero__content__heading {
      font-size: 3.5em;
  }

  .hero__content__para {
      font-size: 1.5em;
      color: var(--gray);
      padding: 20px 0px;
  }


  .hero__content__heading .second {
      color: var(--yellow);
  }

  .hero__content__review {
      font-size: 1.3em;
      color: var(--gray);
      padding: 30px 0px;
      display: flex;


  }

  .shopify {
      width: 1.3em;
  }

  .review__logos {
      padding: 0px 30px;
      display: flex;
  }


  .hero__image img {
      width: 450px;
  }





  /* footer section */

  .footer__content_text {
      text-align: center;
      font-size: 1.3em;
      color: var(--gray);
  }

  .footer__content__logo {
      display: flex;
      justify-content: center;
      gap: 2em;
      padding: 50px 0px;
  }










  /* resuable  */
  .space {
      padding: 25px;
  }

  .center {
      align-items: center;
      display: flex;
  }

  .betn-space {
      padding: 20px 25px;
  }
  .bold{
    font-weight: 700;
  }





  /* mediaquery */

  @media screen and (max-width:900px) {
      #home {
          height: auto;
      }

      .container {
          padding: 30px;
      }

      .hero {
          flex-direction: column;
          margin: 2em 0em;
      }

      .header__navigation {
          display: none;
      }

      header .header__button {
          display: none;
      }

      .header__show_hide-button {

          display: flex;
          align-items: center;
      }

      .header__show_hide-button #close {
          display: none;
      }

      .hero__image {
          display: none;
      }

      .hero__image img {
          width: 100%;
      }

      .review__logos img {
          margin: 0px 5px;
      }

      .footer__content__logo {
          flex-wrap: wrap;
      }

      .hero__content__review .review__logos {
          padding: 10px;
      }

      .footer__content__logo {
          flex-direction: row;
          flex-wrap: wrap;

      }

      .footer__content__logo img {
          width: 10em;
          padding: 0px;
      }

      .card__element {
          display: flex;
          gap: 20px;
          
      }
      .card_block{
        padding: 20px 0px;
      }

       /* making fonts responsive */

      .hero__content__heading {
          font-size: 1.4em;
          display: flex;
          flex-wrap: wrap;
      }

      .hero__content__para {
          font-size: 0.8em;
      }

      .hero__content__review {
          font-size: 0.8em;
      }

      .hero__content__review .review__text {
          display: flex;
          align-items: center;
      }
      .card__element__text p{
        font-size:0.8em;
      }
    
      .footer__content_text {
          font-size: 0.8em;
      }

      /* show-hide buttons */
      #show {
          display: block;
      }
  }